 version: 2
 jobs:
   build:
     working_directory: ~/project/biturbo
     docker:
       - image: circleci/node:8-browsers
     steps:
       - checkout
       - restore_cache:
           key: dependency-cache-{{ checksum "package.json" }}
       - run:
           name: Install dependencies
           command: npm install
       - save_cache:
           key: dependency-cache-{{ checksum "package.json" }}
           paths:
             - node_modules
       - run:
           name: Lint
           command: npm run lint
       - run:
           name: Run tests
           command: npm test
       #- run:
       #    name: Run assemblyscript tests
       #    command: npm run test:as
       - run:
           name: Run token ee with generated input
           command: npm run token
       - run:
           name: Run EVM ee with generated input
           command: npm run evm
